<h1>Controls</h1>
<ul>Player1
  <li>light punch: A</li>
  <li>medium punch: S</li>
  <li>heavy punch: D</li>
  <li>medium kick: X</li>
  <li>heavy kick: C</li>
</ul>

<ul>Player2
  <li>light punch: I</li>
  <li>medium punch: O</li>
  <li>heavy punch: P</li>
  <li>medium kick: K</li>
  <li>heavy kick: L</li>
</ul>
